.term {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.termTitle {
    font-size: 30px;
    line-height: 36px;
    padding: 10px 0;
}

.wordClass {
    font-size: 15px;
    line-height: 18px;
    color: #696969;
}

.relatedTermLink {
    text-decoration: none;
    color: #337AB7;
}

.relatedTermLink:after {
    content: ",\00A0";
    color: unset;
}

.relatedTermLink:last-of-type:after {
    content: "";
}

.tagList {
    padding: 25px 0;
}
