.filter {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 50fr 1fr;
  grid-column-gap: 1em;
}

.textInput {
  padding: 0.5em;
  grid-column-start: 2;
  grid-column-end: 3;
  border-width: 2px;
  border: 1px solid #cac3b4;
}

@media (min-width: 769px) {
  .filter {
    grid-template-columns: 1fr 6fr 1fr;
  }
}
